html{ font-size: 15px;}

a.blue:link, a.blue:visited, a.blue:hover{ color: #00AAA6;}
input{ border-radius: .2rem;}
input:focus{ outline-color: #00AAA6;}
button, input[type="button"]{ background: none; border: none;}

/* common */
.p-r{ position: relative;}
.p-a{ position: absolute; left: 0;}
.p-a-r{ position: absolute; right: 0; padding: 0 1rem;}
.back.p-a{ width: 3rem;}

.b_radius{ border-radius: .2rem;}

.show{ display: block !important;}
.mask{ position: fixed; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0,0,0,.5); z-index: 10; display: none;}

.bg{ background: #EDF4FA;}

.btn, .button, .button2{ margin: 0; padding: 0 1rem; height: 3rem; line-height: 3rem; border: none; border-radius: .3rem; font-size: 17px; outline: none;}
.btn-sm{ padding: 0 .8rem; height: 2rem; line-height: 2rem; font-size: 1rem;}
.btn-block{ display: block; text-align: center;}
.btn-default{ background: #fff; color: #999;}
.btn-primary{ background: #00AAA6; color: #fff;}
.btn-blue, .button, .button2{ background-image: linear-gradient(180deg, #27A3E4 1%, #1483C0 100%) !important; color: #fff;}
.btn-orange{ background-image: linear-gradient(180deg, #F9AF4B 0%, #CC7500 100%); color: #fff;}
.btn-grey{ background: #efefef; color: #999; opacity: .5;}

.btn_login{ width: 100%;}

.button, .button2{ width: 62px; height: 3rem;}

.px{ padding: 0 .2rem; height: 2.25rem; line-height: 2.25rem; border: none;}

/* header */
.hdc{ display: flex; justify-content: space-between; position: fixed; margin: 0; padding: 0; width: 100vw; height: 4rem; line-height: 4rem; background:#fff; box-shadow: 0 3px 5px 0 rgba(0,0,0,0.15); z-index: 10;}
#logo{ display: inline-block; margin-top: .8rem; width: 172px; height: 2.4rem; background: url(../../common/img/logo.png) no-repeat center center; background-size: contain;}
.hdc .btn{ display: inline-block; padding: 0 20px; height: 4rem; line-height: 4rem; text-align: center;}
.hdc .btn .icon{ position: relative; top: 3px; font-size: 20px; color: #B2BEC3;}
.hdc .btn-user{ position: relative;}
.hdc .btn-user .icon_msg{ position: absolute; top: 1rem; right: 1rem; width: .6rem; height: .6rem; background: red; border-radius: 50%; color: #fff; text-indent: -100vw;}
.hdc .btn-menu{ transition: all .35s ease-in-out; }
.hdc .btn-menu.open{ margin-left: 5px; transform: rotate( 90deg);}
.hdc .btn-menu.open .icon{ font-size: 16px; color: #fff;}
.hdc .btn-menu.open .icon:before { content: "\e914";}

.nav{ padding: 4rem 0 0; height: 3rem; line-height: 3rem; background: #00AAA6; box-shadow: inset 0 3px 5px 0 rgba(0,0,0,0.15); color: #fff; font-size: 17px; font-weight: 600;}
.nav a{ color: #fff;}
.nav .icon_edit a{ display: inherit; width: inherit; height: inherit; line-height: inherit; background: none; overflow: inherit;}
.nav .y a, .nav .z{ display: inline-block; padding: 0 1.4rem;}
.nav .y a .icon, .nav .z .icon{ font-size: 20px; color: #fff;}
.nav .name{ height: 100%; color: #fff;}
.nav .y .btn{ margin-right: 1rem;}

.category .name .icon{ font-size: .5rem;}
.category .subname_list ul{ border: none;}
.category .subname_list a{ color: #4c4c4c; font-weight: normal;}

#nav{position: fixed; left: -100vw; top: 0; bottom: 0; width: 75vw; height: 100vh; background: #3F6867; z-index: 30; transition: all .35s ease-in-out;}
#nav .btn-close{ display: inline-block; width: 4rem; height: 4rem; line-height: 4rem; color: #fff; transition: all .7s ease-in-out; opacity: 0;}
#nav.show{ left: 0;}
#nav.show .btn-close{ opacity: 1; transform: rotate( 90deg);}
#nav ul{ padding: 0 20px 2px;}
#nav li:before{ content: ""; display: block; height:1px; background-image: linear-gradient(270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 100%); opacity: .3;}
#nav li a{ display: block; height: 44px; line-height: 44px; font-size: 17px; color: #fff;}
#nav li a:focus{ color: #fff; opacity: .5;}
#nav li .icon-search{ width: 4rem; height: 4rem;}
#nav li:last-child a{ height: 4rem; line-height: 4rem;}

/* footer */
.footer{ padding: 10px 0;}
.footer .links a{ display: inline-block; height: 44px; line-height: 44px; font-size: 15px;}

/* forum */
.wm{ padding-top: 70px;}
.bm_h, .bm_h h2{ background: #fff !important; border-bottom: 1px solid #EDF4FA;}
.bm_h h2 a{ margin: 0; padding-left: 1rem;}
.bm_h .o img{ padding-right: 5px; width: 31px; height: 54px; opacity: .15;}
.sub_forum{ padding: 0 1rem; border: none; border-radius: .2rem;}
.sub_forum li{ position: relative; padding: 1rem 0; height: auto; line-height: 1.8;}
.sub_forum li a{ padding: 0;}
.sub_forum li .fl_icn_g{ position: absolute; top: .8rem;}
.sub_forum li .fl_icn_g img{ width: 4rem; height: 4rem;}
.sub_forum li dl{ padding-left: 5rem;}
.sub_forum li dt{ font-size: 17px;}
.sub_forum li dd{ font-size: 13px; color: #999;}
.sub_forum li dd span+span{ margin-left: 1rem;}

.threadlist, .postlist{ background: #fff;}

.threadlist li{ border-bottom-color: #EDF4FA;}
.threadlist li a{ padding: 10px 1rem; line-height: 1.6; font-size: 1rem;}
.threadlist .by, .threadlist .num{ font-size: 13px;}
.threadlist .thread_tit{ margin-top: 10px; padding: 0 1rem; border-bottom-color: #EDF4FA; color: #3F6867;}
.threadlist li.no{ padding: 1rem; text-align: center; color: #999;}
.threadlist .filter{ padding: 1rem; background: #EDF4FA;}
.threadlist .filter_bar{ display: flex; justify-content: space-around; border-radius: .2rem; overflow: hidden;}
.threadlist .filter_bar a{ width: 100%; height: 3rem; line-height: 3rem; background-image: linear-gradient(180deg, #FFFFFF 1%, #F0F0F0 100%); font-size: 15px; text-align: center; }
.threadlist .filter_bar a:nth-child(2){ border: 1px solid #EDF4FA; border-width: 0 2px 0 2px;}
.threadlist .filter_bar a.current{ background: #fff; color: #00AAA6;}

.postlist h2{ margin: 0 1rem; padding: 10px 0;}
.plc{ border-bottom-color: #EDF4FA;}
.plc .pi{ margin-left: 5rem; margin-right: 1rem; font-size: 1rem !important; text-align: justify;}
.plc .pi font{ font-size: 1rem !important;}
.plc .avatar{ left: 1rem;}
.plc .pi .authi{ margin-bottom: 10px;}

.fastpost .input{}
#fastpostsubmitline{ margin-top: 10px;}

.dialogbox{ left: 0 !important; right: 0; margin: 0 auto; padding: 1rem 0; width: inherit; height: auto !important; background-image: linear-gradient(180deg, rgba(255,255,255,0.00) 0%, rgba(255,255,255,0.52) 18%, #FFFFFF 78%, rgba(255,255,255,0.00) 100%); }
.dialogbox .button{ margin-top: 1rem;}
.dialogbox .tip{ height: inherit; background: #fff; border: none ; box-shadow: 0 3px 5px 0 rgba(0,0,0,0.15);}
.dialogbox .tip dt{ height: inherit; background: #f1f1f1;}
.dialogbox .tip dd{ padding: 1rem 0; border-top: none; font-size: 17px;}

.post_from{ background: #fff;}
.post_msg_from li, .post_from li{ padding: 0 1rem; line-height: 3rem;}
.post_from li.bl_line{ padding: 1rem; line-height: inherit; border-bottom-color: #EDF4FA;}
.post_msg_from textarea, .post_from textarea{ background: #fff;}

/* search */
.search{ margin-bottom: 10px; padding: 10px 1rem;}
.search .input{ width: 98%; height: 3rem;}


/* member */
.login_from{ border: none; border-radius: .2rem;}
.login_from li{ border-bottom-color: #EDF4FA;}
.login_from li input:focus{ outline: none;}
.login_from .sec_code{}

.user_avatar .name{ color: #00AAA6;}

.myinfo_list{ width: inherit;}
.myinfo_list ul{ display: flex; justify-content: space-evenly; flex-wrap: wrap;}
.myinfo_list li{ margin: 0 0 10px; width: 46%; height: inherit; background: #fff; border-radius: .2rem;}
.myinfo_list li a{ line-height: 4rem; }
.myinfo_list li a .icon{ position: relative; top: 1px; margin-right: .6rem;}

.coll_list li.no{ border-bottom: none; text-align: center;}

.user_box{ border: none; border-radius: .2rem;}
.user_box li{ padding: 0 1rem; border-bottom-color: #EDF4FA; font-weight: normal;}
.user_box li span{ color: #999;}

.userinfo .btn-block{ margin: 10px;}

