@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?smdwwl');
  src:  url('fonts/icomoon.eot?smdwwl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?smdwwl') format('truetype'),
    url('fonts/icomoon.woff?smdwwl') format('woff'),
    url('fonts/icomoon.svg?smdwwl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-discuss:before {
  content: "\e92f";
}
.icon-featured:before {
  content: "\e92c";
}
.icon-users1:before {
  content: "\e92d";
}
.icon-links:before {
  content: "\e92e";
}
.icon-qzone:before {
  content: "\e922";
}
.icon-qq:before {
  content: "\e923";
}
.icon-wechat:before {
  content: "\e924";
}
.icon-article:before {
  content: "\e925";
}
.icon-case:before {
  content: "\e926";
}
.icon-product:before {
  content: "\e927";
}
.icon-appliance:before {
  content: "\e928";
}
.icon-adult:before {
  content: "\e929";
}
.icon-kids:before {
  content: "\e92a";
}
.icon-video:before {
  content: "\e92b";
}
.icon-friends:before {
  content: "\e91f";
}
.icon-keep:before {
  content: "\e920";
}
.icon-tiezi:before {
  content: "\e921";
}
.icon-list:before {
  content: "\e900";
}
.icon-comment:before {
  content: "\e901";
}
.icon-back-top:before {
  content: "\e902";
}
.icon-body-search:before {
  content: "\e903";
}
.icon-body:before {
  content: "\e904";
}
.icon-exit:before {
  content: "\e905";
}
.icon-notice:before {
  content: "\e906";
}
.icon-integral:before {
  content: "\e907";
}
.icon-my:before {
  content: "\e908";
}
.icon-setting:before {
  content: "\e909";
}
.icon-users:before {
  content: "\e90a";
}
.icon-thread:before {
  content: "\e90b";
}
.icon-yesterday:before {
  content: "\e90c";
}
.icon-today:before {
  content: "\e90d";
}
.icon-review:before {
  content: "\e90e";
}
.icon-share:before {
  content: "\e90f";
}
.icon-favorite:before {
  content: "\e910";
}
.icon-check:before {
  content: "\e911";
}
.icon-up:before {
  content: "\e912";
}
.icon-dropdown:before {
  content: "\e913";
}
.icon-close:before {
  content: "\e914";
}
.icon-user:before {
  content: "\e915";
}
.icon-menu:before {
  content: "\e916";
}
.icon-ask:before {
  content: "\e917";
}
.icon-hot:before {
  content: "\e918";
}
.icon-reply:before {
  content: "\e919";
}
.icon-eye:before {
  content: "\e91a";
}
.icon-more:before {
  content: "\e91b";
}
.icon-search:before {
  content: "\e91c";
}
.icon-flip-next:before {
  content: "\e91d";
}
.icon-flip-prev:before {
  content: "\e91e";
}
